<ion-view view-title="Friends">
  <ion-content class="has-header">
    <ion-list>
      <div class="item item-input-inset">
        <label class="item-input-wrapper">
          <input type="text" placeholder="Filter Friends">
        </label>
      </div>
      <div class="list">
        <a href="" class="item list-avatar">
          <img src="http://graph.facebook.com/{{friend.id}}/picture?width=150&height=150" alt="{{friend.name}}">
          <h2>{{friend.name}}</h2>
          <p>{{friend.location}}</p>
        </a>

      </div>
    </ion-list>
  </ion-content>
  <div class="bar bar-footer">
    <div class="tabs tabs-icon-left">
      <a href="#/app/users" class="tab-item">
        <i class="icon ion-person-add"></i>
        Add Friends
      </a>
    </div>
  </div>
</ion-view>
