<ion-view view-title="Groups">
  <ion-content>
    <div class="item item-input-inset">
      <label class="item-input-wrapper">
        <input type="text" placeholder="Filter Groups">
      </label>
    </div>
    <ion-list>

    </ion-list>
  </ion-content>
  <div class="bar bar-footer">
    <div class="tabs tabs-icon-top">
      <a href="#/app/" class="tab-item">
        <i class="icon ion-hammer"></i>
        Create Group
      </a>
      <a href="#/app/" class="tab-item">
        <i class="icon ion-earth"></i>
        Join Group
      </a>
    </div>
  </div>
</ion-view>
