<ion-view view-title="Item">
  <ion-content class="has-footer">
    <h2>{{item.Item[0].ItemAttributes[0].Title[0]}}</h1>
    <img src="{{item.Item[0].MediumImage[0].URL[0]}}" alt="{{item.Item[0].ItemAttributes[0].Title[0]}}">
    <h4>Manufacturer:</h4>
    <p>{{item.Item[0].ItemAttributes[0].Manufacturer[0]}}</p>
    <h4>Description:</h4>
    <p>{{item.Item[0].EditorialReviews[0].EditorialReview[0].Content[0]}}</p>
    <h4>Comments:</h4>
  </ion-content>
    <div class="bar bar-footer">
      <div class="bar-footer button-bar">
        <a href="" class="button">Comments</a>
        <a ng-click="add()" class="button">Add Item</a>
      </div>
    </div>
</ion-view>
