<ion-view view-title="Profile">
  <ion-content class="has-header has-footer">
    <div class="list card">
      <div class="item item-avatar">
        <img src="http://graph.facebook.com/{{user.id}}/picture?width=150&height=150" alt="{{user.name}}">
        <h2>{{user.name}}</h2>
        <p>{{user.location}}</p>
      </div>
<!--       <div class="item item-image">
        <img src="http://graph.facebook.com/{{user.id}}/picture?width=300&height=300"/>
      </div> -->
      <div class="item item-divider">
        Summary
      </div>
      <div class="item item-body">
        <p>Aenean vel consequat risus, sed varius nisi. Fusce velit elit, maximus vel leo sed, sagittis ullamcorper enim. Etiam rutrum eros vel lacus iaculis tempus. Ut vel consequat felis. Phasellus volutpat bibendum mi, eu faucibus ante dignissim vel. Suspendisse euismod elementum velit, sit amet malesuada erat accumsan porttitor. Donec mollis volutpat consectetur. Cras quam libero, mollis vitae arcu in, interdum lacinia ipsum. Maecenas lorem magna, cursus in mi quis, gravida rutrum tellus. Vivamus eu leo et odio iaculis commodo. In hac habitasse platea dictumst. Ut mattis ultricies diam, vel ultrices urna ultrices id. Maecenas dignissim lectus non egestas condimentum. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Donec id lacus sit amet magna venenatis volutpat. Praesent et justo ut sem facilisis faucibus et sed urna.</p>
        <p><i class="icon ion-edit subdued"></i>  Edit</p>
      </div>
      <div class="item item-divider">
        About
      </div>
      <div class="item item-body">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras ac tristique orci. Suspendisse pellentesque ante metus. Donec eget ex non massa feugiat pretium condimentum nec mi. Sed quis neque id magna imperdiet dictum quis non mauris. Morbi fermentum turpis in sagittis blandit. Morbi suscipit elit ac justo lobortis, ut interdum ante lobortis. Quisque at enim eget ligula interdum sagittis at id mauris. Quisque ornare massa quam. Etiam nisl nisl, volutpat vitae suscipit efficitur, aliquam in mauris.</p>
        <p><i class="icon ion-edit subdued"></i>  Edit</p>
      </div>

    </div>
  </ion-content>
  <div class="bar bar-footer">
    <div class="tabs tabs-icon-top">
      <a href="#/app/items" class="tab-item">
        <i class="icon ion-briefcase"></i>
        Gear
      </a>
      <a href="#/app/friends" class="tab-item">
        <i class="icon ion-person-stalker"></i>
        Friends
      </a>
      <a href="#/app/groups" class="tab-item">
        <i class="icon ion-coffee"></i>
        Groups
      </a>
    </div>
  </div>
</ion-view>
